.App {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

label {
  margin-top: 2rem;
  text-align: left;
}

input,
textarea {
  padding: .7rem 9rem .7rem .5rem;
  margin-top: 1rem;
}

.ageI{
  padding: .7rem 8rem;
  text-align: center;
}

.btn{
  border: none;
  margin-top: 2rem;
  outline: none;
  background-color: blueviolet;
  padding: .8rem 7rem;
  border-radius: 4px;
  color: white;
}