* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  font-family: 'Josefin Sans', sans-serif;
}

.container {
  align-items: center;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

h1 {
  padding: 40px 30px;
  background-color: #faebd7;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  text-shadow: 2px 2px 4px #0000;
}