* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.heading {
    text-align: center;
    font-size: 12em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn {
    background-color: purple;
    color: white;
    font-size: 22px;
    text-align: center;
    border: none;
    outline: none;
    padding: 1rem 6rem;
    box-shadow: 0 12px 18px 0 rgb(192, 192, 192);
    border-radius: 8px;
    transition: all .3s ease-in-out;
}

.btn:active {
    transform: translateY(4px);
}