* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    display: grid;    
    justify-content: center;
    align-items: center;
    background: rgb(56, 56, 56);
}

.heading1 {
    color: white;
    font-size: 3rem;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn {
    background-color: rgb(91, 91, 255);
    box-shadow: 0 13px 18px 0 rgb(46, 46, 46);
    border-radius: 4px;
    padding: 1rem 5rem;
    outline: none;
    border: none;
    font-size: 20px;
    transition: all .1s ease-in-out;
}

.btn:active {
    transform: translateY(3px);
}