* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #33333f;
    flex-direction: column;
    width: 100%;
}

.one {
    color: #46bbff;
    background: #ccf1ff;
    text-align: left;
    padding: .8rem 8rem;
    border-radius: 55px;
    margin-top: 2rem;
    box-shadow: 0px 18px 20px 0 rgb(37, 37, 37);
    
}


.btn {
    background: #46bbff;
    border: none;
    outline: none;
    padding: 1rem 3rem;
    border-radius: 4px;
    margin-top: 3rem;
    font-size: 18px;
    box-shadow: 0px 18px 20px 0 rgb(37, 37, 37);
    transition: all 0.08s ease;
}

.btn:active{
    transform: translateY(5px);
}